/* Reset some default styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff; /* White background for the entire website */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #333; /* Darker text color for contrast against white background */
}

header {
    margin: 20px;
}

header h1 {
    font-size: 2.5em; /* Larger font size for better readability */
    text-align: center;
    font-weight: bold; /* Make the title bold */
    color: #333; /* Dark text color for readability on white background */
}

.gallery {
    flex: 1; /* Take available space */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px; /* Add some padding to prevent the image from touching edges */
}

.image-container {
    position: relative;
}

.gallery img {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #333; /* Dark border for contrast */
}

.price-tag {
    position: absolute;
    bottom: -10px; /* Position slightly below the bottom edge of the image */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust centering */
    background-color: #f2f2f2; /* Apple white background for the price tag */
    color: #000; /* Black text color for contrast */
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer; /* Change cursor to pointer to indicate interactivity */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
    box-shadow: 0 4px 6px rgba(0, 0, 0,